Tensorflow-Bootcamp-master/**/
!Tensorflow-Bootcamp-master/00*/
!Tensorflow-Bootcamp-master/01*/
!Tensorflow-Bootcamp-master/02*/
!Tensorflow-Bootcamp-master/02*/new_models/
Tensorflow-Bootcamp-master/02*/new_models/*.*
